<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form method="POST" action="/verify">
    	<label>Enter OTP <%= otp %></label>
    	<input type="text" name="userOTP">
    	<input type="submit" name="btn-submit" value="Proceed">
    </form>

  </body>
</html>